<div class="news">
<h1>Fresh Manoa - Articles</h1>
<h2>Edit Article</h2>
<form class="article" action="/articles/{{title}}?_method=PUT" method="POST"><br>
  <label for="title">Title:</label><br>
  <input id="title" class="article" type="text" name="{{title}}"><br>
  <label for="author">Author:</label><br>
  <input id ="author" class="article" type="text" name="{{author}}"><br>
  <label for="title">Body:</label><br>
  <textarea id="body" class="articleBody" type="text" name="{{body}}"></textarea><br>
  <input class="submit" type="submit" value="Submit">
</form>
</div>