<div class="inventory">
<h1>FEO Swartz</h1>
<h2>Add New Product</h2>
<form action="/products" method="post">
  <label for="name">Product Name:</label><br>
  <input id="name" class="product" type="text" name="name"><br>
  <label for="price">Product Price:</label><br>
  <input id="price" class="product" type="text" name="price"><br>
  <label for="inventory">Product Inventory:</label><br>
  <input id="inventory" class="product" type="text" name="inventory"><br>
  <input class="submit" type="submit" value="Submit">
</form>
</div>