<h2>Add New Product</h2>
<form action="/products" method="post">
  Product Name:<br>
  <input type="text" name="name">
  <br>
  Product Price:<br>
  <input type="text" name="price">
  <br>
  Product Inventory:<br>
  <input type="text" name="inventory">
  <br><br>
  <input type="submit" value="Submit">
</form>